* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.up {
    width: 5%;
    position: fixed;
    z-index: 1;
    top: 85%;
    left: 90%;
    opacity: 0.4;
}

:root {
   --main-color-txt: #FFFFFF;
}

body {
    z-index: -1;
    background-color: black;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.nav {
    margin-top: 5vw;
}

.start {
    min-height: 50vw;
    background: url(../img/bg/header.jpg) center center/cover no-repeat;
}

.start__menu {
    font-weight: 400;
    font-size: 1.6vw;
    color: var(--main-color-txt);
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.burger {
    display: none;
}

li {
    cursor: pointer;
}

.name {
    color: var(--main-color-txt);
    font-size: 10vw;
    line-height: 130%;
    margin-top: 7vw;
    text-transform: uppercase;
    margin-bottom: 2vw;
}

.subname {
    color: var(--main-color-txt);
    font-size: 4vw;
    line-height: 10%;
}

.about {
    margin-top: 4vw;
    padding-bottom: 3vw;
}

.about_wrapper {
    display: flex;
}

.me_img {
    width: 20vw;
    height: 20vw;
    margin-right: 5vw;
    margin-top: 5vw;
}

.img_about {
    display: block;
    margin: 0 auto;
    margin-bottom: 6vw;
    max-width: 40vw;
}

.aboute_txt {
    color: var(--main-color-txt);
    font-weight: 400;
    font-size: 2.2vw;
    line-height: 4vw;
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 5vw;
}

.carousel {
    margin-bottom: 10vw;
}

.img_skills {
    display: block;
    margin: 0 auto;
    margin-bottom: 6vw;
    max-width: 40vw;
}

.carousel__inner {
    width: 70vw;
    margin: 0 auto;
    z-index: 0;
}

.img_slide {
    max-width: 20vw;
    margin-left: 2.6vw;
}

.block {
    display: flex;
    flex-direction: column;
    width: 15%;
    justify-content: center;
}

.jobs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10vw;
}

.jobs_sect {
    display: block;
    margin: 0 auto;
    margin-bottom: 6vw;
    max-width: 40vw;
}

a {
    text-decoration: none;
    color: var(--main-color-txt);
    display: flex;
    justify-content: center;
}

.link {
    width: 100%;
}

.job_img {
    width: 27vw;
    height: 100%;
}

.block_img {
    width: 100%;
    padding: 15px 0;
}

.job_img:hover {
    box-shadow: 1vw 1vw 3vw rgb(167, 0, 153);
}

.contact_img {
    display: block;
    margin: 0 auto;
    max-width: 40vw;
}

.wrapper {
    background: url(../img/bg/footer.jpg) center center/cover no-repeat;
    display: flex;
    justify-content: space-around;
    min-height: 20vw;
}

.mail, .telegram {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mail_img, .teleg_img {
    width: 9vw;
}

.mail_txt, .telet_txt {
    color: var(--main-color-txt);
    font-size: 2.5vw;
}

@media (max-width: 767px) {
    .img_slide {
        margin-left: 2.6vw;
    }
    
    .carousel__inner {
        width: 53vw;
    }

    .up {
        width: 10%;
        left: 85%;
    }
}

@media (max-width: 475px) {
    .carousel__inner {
        width: 25vw;
    }

    .jobs {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .job_img {
        width: 50vw;
    }

    .jbcl {
        margin: 5vw;
    }

    .up {
        width: 12%;
        top: 85%;
        left: 80%;
    }
    
    a {
        width: 40%;
        margin-bottom: 5vw;
    }

    .link {
        margin-bottom: 0;
    }

    .start__menu {
        display: none;
    }

    .burger {
        display: block;
    }

    #menu__toggle {
        opacity: 0;
      }
      
    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
    }
      
    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 2;
    }
      
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;  
        width: 100%;
        height: 2px;
        background-color: white;
        transition-duration: .25s;
    }

    .menu__btn > span::before {
        content: '';
        top: -8px;
    }

    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
      
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;  
        width: 60%;
        height: 100%;
        margin: 0;
        padding: 25vw 0;
        list-style: none;
        background-color: black;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
        opacity: 0.9;
        z-index: 1;
    }
      
    .menu__list {
        display: block;
        width: 100%;
        padding: 3vw 6vw;
        color: white;
        font-size: 4vw;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }

    .menu__list:hover {
        background-color: black;
    }
}