.consultations {
    min-height: 680px;
    padding: 100px 0 108px 0;
    background: url(../img/bg/adidas_bg.jpg) center (center/cover) no-repeat;
    &__descr {
        font-weight: 500;
        font-size: 20px;
        color: #FFFFFF;
        margin-left: 20px;
    }
}

@media (max-width: 425px) {
    .consultations {
        min-height: 570px;
        padding: 70px 0 0 20px;
        &__descr {
            font-size: 15px;
        }
    }
}

@media (max-width: 320px) {
    .consultations {
        padding: 70px 0 108px 20px;
        &__descr {
            font-size: 13px;
        }
    }
}

@media (max-width: 768px) { 
    .consultations {
        &__descr {
            font-weight: 500;
            font-size: 20px;
            color: #FFFFFF;
            padding: 0 5px 0 0;
        }
    }
}